@model HumanResources.Models.Employee

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="background-color:aquamarine">Create</h1>

<h4>Employee</h4>
<hr />
<div id="myTextArea"></div>
<div class="row" style="background-color:orchid">
    <div class="col-md-4">
        <form >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" id="Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle" class="control-label"></label>
                <input asp-for="JobTitle" class="form-control" id="JobTitle"/>
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" id="Salary" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HiringDate" class="control-label"></label>
                <input asp-for="HiringDate" class="form-control" id="HiringDate" />
                <span asp-validation-for="HiringDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Create" onclick="createEmployee()" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
