@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_MySharedLayout.cshtml";
}


<div class="row content">
    <div class="col-sm-1 sidenav" id="employeesDiv">
    </div>

    <div class="col-sm-8 text-left" id="employeeDetails">
    </div>


    <div class="col-sm-3 sidenav" id="news">
        <div class="well">
            <p>ADS</p>
        </div>
        <div class="well">
            <p>ADS</p>
        </div>
    </div>
</div>


<script>loadEmployees2()</script>