@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_MySharedLayout.cshtml";
}


<div class="row content">
    <div class="col-sm-1 sidenav" id="employeesDiv">
    </div>

    <div class="col-sm-8 text-left" id="employeeDetails">

        <h1>Welcome</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <hr>
        <h3>Test</h3>
        <p>Lorem ipsum...</p>
    </div>
    <div class="col-sm-3 sidenav">
        <div class="well">
            <p>ADS</p>
        </div>
        <div class="well">
            <p>ADS</p>
        </div>
    </div>
</div>


<script>loadEmployees2()</script>