@model List<Project>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Funded projects";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}




<table>
    <tr><th>Name</th><th>Employee name</th></tr>
    @foreach (var project in Model)
    {
        <tr>
            <td>@project.Name</td>
            <td>

                @{
                    var message = project.Employee != null ? project.Employee.Name : "";
                }
                @message
            </td>
        </tr>
    }
</table>